.slideWrapper {
  width: 100vw;
  height: 100vh;
  margin-left: calc(50% - 50vw);
  padding-top: 70px;
  background-color: #f3f8ff;
  text-align: center;
  position: relative;
}

.iconCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(180deg, #b47bff, #7d4dff);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
}

.icon {
  width: 45px;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 50px;
}

.cardRow {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
