.card {
  background: white;
  width: 230px;
  padding: 25px 20px;
  border-radius: 16px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.icon {
  width: 60px;
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #2a355b;
}

.desc {
  font-size: 14px;
  color: #4a4f68;
  margin-top: 6px;
}
